.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.App-container {
  width: 960px;
  height: 450px;
  border-radius: 10px;
  box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.1);
  background-color: #ffffff;
  padding: 30px;
}

.App-header {
  margin-top: 5px;
  text-align: left;
  font-size: 16px;
}

.App-body {
  height: calc(100% - 60px)
}

.App-body > .col {
  height: 100%;
  max-height: 100%;
  overflow: auto;
}

h1 {
  font-size: 28px;
  color: #333333;
}
