.filename {
  font-size: 18px;
  font-weight: 600;
  color: #333333;
  margin-bottom: 15px;
  text-align: left;
}

.progress {
  height: 5px;
}

.progress-text {
  color: #007bff;
  text-align: left;
  margin-top: 3px;
  font-size: 13px;
}

.list-group-item {
  border-bottom: none;
  border-left: none;
  border-right: none;
  border-top: 1px solid #f9f9f9;
}

.list-group-item:first-child {
  border-top: none;
}

.list-group-item:hover {
  background-color: #fafafa;
}