.dropzone {
  background-color: #f6f6f6;
  border-radius: 5px;
  height: 100%;
  padding: 30px;
  color: #666666;
}

.dropzone > h4 {
  margin-top: 40px;
  font-weight: 600;
  font-size: 20px;
  color: #333333;
}

.select-files {
  font-size: 20px;
  width: 200px;
  height: 50px;
}

.btn.select-files {
  background-color: #B9DD59;
  border: none;
  outline: none !important;
  box-shadow:none !important;
}

.btn.btn-primary.select-files:hover {
  background-color: #AFD841;
}

.btn.btn-primary.select-files:active {
  background-color: #95BE27;
}

.space-top {
  margin-top: 40px;
}
